body {
    margin: 0;
    padding: 0;
}
header {
    z-index: 32;
    padding: 16px;
    line-height: 1.5;
    color: hsla(0,0%,100%,.7);
    background-color: #24292e;
}
header form {
    display: flex;
    justify-content: center;
}
header input[type="url"] {
    margin: 0 16px;
    flex-grow: 1;
    font-size: 14px;
    border: 0;
    box-shadow: none;
    min-height: 28px;
    padding: 0 1em;
    font-weight: 400;
    color: #fff;
    background-color: hsla(0,0%,100%,.125);
    border-radius: 6px;
    outline: none;
}
header input[type="submit"] {
    padding: 3px 12px;
    font-size: 12px;
    line-height: 20px;
    background-color: #fafbfc;
    border-color: rgba(27,31,35,.15);
    box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
    transition: background-color .2s cubic-bezier(.3,0,.5,1);position: relative;
    display: inline-block;
    font-weight: 500;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid;
    border-radius: 6px;
    appearance: none;
}
header span {
    font-size: 20px;
}

content {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    justify-content: center;
    padding: 16px;
}
nav, article {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: block;
    padding: 40px;
}
nav:empty, article:empty {
    display: none;
}
nav {
    margin-right: 16px;
    height: fit-content;
    max-width: 400px;
    max-height: calc(100vh - 96px);
    overflow: auto;
}
article {
    max-width: 900px;
}
